{% load static %}
<!DOCTYPE html>
<html lang="en" style="--bs-primary: #1c2b62;--bs-primary-rgb: 28,43,98;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>This is title</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/line-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav"><a class="navbar-brand js-scroll-trigger" href="#page-top"><span class="d-block d-lg-none">Oliver Brouckaert</span><span class="d-none d-lg-block"><img class="border rounded-circle img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'assets/img/profile.jpg' %}" alt="..."></span></a><button class="btn btn-primary navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Awards</a></li>
            </ul>
        </div>
    </nav>
    <div class="container container-fluid p-0">
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h1 class="mb-0"> Oliver&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span class="text-primary">Brouckaert</span></h1>
                <h4 class="text-center text-black-50" style="margin-top: 30px;margin-bottom: 35px;font-family: 'Abril Fatface', serif;">brewer - systems integrator - aspiring developer</h4>
                <p class="subheading mb-5"> 7 Punters way · Kenilworth, cape town 7708· 0718958097 · <a href="mailto:oliver.brouckaert@gmail.com">oliver.brouckaert@gmail.com</a></p>
                <p class="lead mb-5">I am a young, driven and hardworking individual eager to start my career in software developing. I am a fast learner with a keen desire for gaining knowledge and experience. I am a hard worker who always gives my best to anything I do and will stop at nothing to achieve my goals.<br><br>I am currently a systems integrator so working with tech is something I do every day. Recently I came&nbsp; across software developing and fell in love with it. I believe that software development is what I was born to do. I intend to follow this passion.<br></p>
                <div class="social-icons"><a class="social-icon" href="https://www.facebook.com/olliebrou"><i class="fa fa-facebook fab fa-linkedin-in"></i></a><a class="social-icon" href="https://github.com/Olliebrou"><i class="fa fa-star fab fa-github"></i></a><a class="social-icon" href="https://www.instagram.com/olliebrouckaert/"><i class="fa fa-instagram fab fa-twitter"></i></a><a class="social-icon" href="https://beersmithrecipes.com/viewuser/208796/ollieb"><i class="la la-beer fab fa-twitter"></i></a></div>
            </div>
        </section>
        <hr class="m-0">
        <section class="resume-section" id="experience">
            <div class="resume-section-content">
                <h2 class="mb-5">Experience</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0"><strong>junior Systems Integrator/ Operations manager</strong><br></h3>
                        <p class="subheading mb-3">SAintouch</p>
                        <p>Worked on installation of video surveillance and networking systems for industrial clients in the Western Cape. Assisted with procurement of subcontractors and specialists. Assisted with customer relations and communication. Managed stock and equipment sourcing and purchasing.<br></p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">February 2022- Present</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">brewer</h3>
                        <p class="subheading mb-3">afro-carribean brewery</p>
                        <p>Assisted with and ran wort production on a 500L brewhouse. Created and improved several beer recipes. Assisted with maintenance and brewery upkeep. Collaborated brews with many other brewers and breweries. Brewed and packaged the batch of Jungle IPA that won gold at the Africa Beer Cup.<br></p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">August 2021 - February 2022</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">online english teacher</h3>
                        <p class="subheading mb-3">palfish international</p>
                        <p>Conducted online English lessons to international second language English speaking learners<br></p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">February 2021- August 2021</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between" style="margin-bottom: 47px;">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">research assistant</h3>
                        <p class="subheading mb-3">city insight</p>
                        <p>Conducted research for company projects. Assisted with organizing and archiving important company records and documents. Assisted in daily operations.<br></p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">February 2020- September 2020</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">brewer</h3>
                        <p class="subheading mb-3">nguni brewery</p>
                        <p>Assisted with and ran wort production. This was on a 1000L brewhouse where I would sometimes be responsible for everything from milling until packaging. Worked on Nguni-Brand beers as well as multiple contract brewing operations. Assisted with transport and logistics of beers and ingredients. Assisted with installations and upkeep of draught systems for customers.<br></p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">March 2019 - February 2020</span></div>
                </div>
            </div>
        </section>
        <hr class="m-0">
        <section class="resume-section" id="education">
            <div class="resume-section-content">
                <h2 class="mb-5">Education</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">University of cape town</h3>
                        <p class="subheading mb-3">Bachelor of Science engineering</p>
                        <p>Uncompleted - Mechatronics</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">2017 - 2018</span></div>
                </div>
                <div class="flex-grow-1">
                    <h3 class="mb-0">clifton college</h3>
                    <p class="subheading mb-3">matric bachelors pass&nbsp;<br>Physics / biology / history</p>
                    <p>Distinctions in History and English</p>
                </div>
            </div>
        </section>
        <hr class="m-0">
        <section class="resume-section" id="skills">
            <div class="resume-section-content">
                <h2 class="mb-5">Skills</h2>
                <p class="subheading mb-3">Programming Languages &amp; Tools</p>
                <ul>
                    <li>Python</li>
                    <li>SQL</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>DJANGO</li>
                    <li>GIT</li>
                    <li>Microsoft Office (Word, Excel, PowerPoint, Teams, Publisher)</li>
                </ul>
                <p class="subheading mb-3">brewing</p>
                <ul>
                    <li>Wort production</li>
                    <li>Recipe creation and improvement&nbsp;</li>
                    <li>Cleaning (CIP) and sterilizing&nbsp;</li>
                    <li>Measuring and testing</li>
                </ul>
                <p class="subheading mb-3">other</p>
                <ul>
                    <li>Drivers license code 8</li>
                    <li>Languages - English / Afrikaans</li>
                    <li>Team leadership</li>
                    <li>Public speaking</li>
                </ul>
            </div>
        </section>
        <hr class="m-0">
        <section class="resume-section" id="interests">
            <div class="resume-section-content">
                <h2 class="mb-5">Interests</h2>
                <p>Apart from working, I enjoy most of my time being outdoors. In the summer, I am an avid fisherman and not so great surfer. During the colder months here in Cape Town, I enjoy mountain biking, hiking, and photography. I enjoy brewing all year round and am a beer geek.</p>
                <p class="mb-0">When I am at home, I love a good series or movie, I am a foodie and spend lots of time trying out new recipes and pairings. I am also a big sports fan and follow many different sports, however my true love is Formula 1.</p>
            </div>
        </section>
        <hr class="m-0">
        <section class="resume-section" id="awards">
            <div class="resume-section-content">
                <h2 class="mb-5">Awards &amp; Certifications</h2>
                <ul>
                    <li>General Certificate in Brewing - Institute of Brewing and Distilling - 2021</li>
                    <li>Teaching english as a second language (TESOL) certificate - 2021</li>
                </ul>
                <ul class="fa-ul mb-0">
                    <li> Gold medal beer winner at Africa beer cup 2022 for Jungle IPA<span class="fa-li"><i class="fa fa-star fas fa-trophy text-warning"></i></span></li>
                    <li> Deputy mayor of Durban Youth Council<span class="fa-li"><i class="fa fa-star fas fa-trophy text-warning"></i></span></li>
                </ul>
            </div>
        </section>
    </div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/scripts.js' %}"></script>
</body>

</html>