{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Estore</title>
    <style>

        #shophead{
            border-width: 4px;
            border-bottom-style: ridge;
            border-color: red;
            background-image: url("{% static 'assets/images/sports-background.png' %}");
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto;
        }

        .card-deck{
            display: flex;
            mx: auto;
        }

        .card {
            width: 300px;
            height: 500px;
            margin: 10px;
        }
        .card .img-top {
        display: none;
        position: absolute;
        max-width: 100%;
        height: auto;
    }
    .card:hover .img-top {
        display: inline;
    }



    </style>
</head>
<body>
    <nav class = "navbar navbar-expand-sm bg-dark navbar-dark" style = "max-width: 100%;">

            <a class = "navbar-brand" href = "#">
                <img src = "{% static 'assets/images/sportslogo.png' %}" alt = "logo" style = " height: 50px;">
            </a>

            <ul class = "navbar-nav mx-auto">
                <li class = "nav-item">
                    <a class = "nav-link" href = "#shoes"> Shoes</a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link" href = "#apparel"> Apparel</a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link" href = "#equipment"> Equipment</a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link" href = "#accessories"> Accessories </a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link" href = "#">Cart</a>
                </li>
            </ul>

       <div class = "container">
            <form class="form-inline" action="#">
                <input  type="text" placeholder="Username">
                <input  type="text" placeholder="Password">
                <button class="btn btn-success" type="submit">Login</button>
            </form></div>

   </nav>
    <section>

            <div id = "shophead" class = "container">
                <h1 class="text-center" style = "color: orange; padding-top: 100px; text-shadow: 2px 2px 5px red">Shop</h1>
            </div>

    </section>
    <br>
    <br>
    <br>
    <section id = "shoes">
        <div class = "container">
            <div class = "row" style = "border-width: 1px; border-bottom-style: solid">
                <h3 class="text-center">Shoes</h3>
            </div>
        </div>
        <div class = "container">
            <div class = "card-deck align-items-center">
                <div class="card">
                    <img src="{% static 'assets/images/shoes/adidassupernova.jpg' %}" alt="Supernova">
                    <img src="{% static 'assets/images/shoes/adidassupernova2.jpg' %}" class="img-top" alt="Supernova">
                    <div class="card-body">
                        <h4 class="card-title">R 1 999.90</h4>
                        <p class="card-text">Adidas Women's Supernova 2 Road Running Shoes</p>
                        <a href="" class="btn btn-primary streched-link">Add to Cart</a>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'assets/images/shoes/gilbertsidestep.jpg' %}" alt="Sidestep">
                    <img src="{% static 'assets/images/shoes/gilbertsidestep2.jpg' %}" class="img-top" alt="Sidestep">
                    <div class="card-body">
                        <h4 class="card-title">R 1 299.90</h4>
                        <p class="card-text">Gilbert Sidestep X15 8 Stud</p>
                        <a href="" class="btn btn-primary streched-link">Add to Cart</a>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'assets/images/shoes/sauconyspeed.jpg' %}" alt="Saucony speed">
                    <img src="{% static 'assets/images/shoes/sauconyspeed2.jpg' %}" class="img-top" alt="Saucony Speed">
                    <div class="card-body">
                        <h4 class="card-title">R 3 499.90</h4>
                        <p class="card-text">Saucony Men's Triumph 20 Road Running Shoes</p>
                        <a href="" class="btn btn-primary streched-link">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <section id = "apparel">
        <div class = "container">
            <div class = "row" style = "border-width: 1px; border-bottom-style: solid">
                <h3 class="text-center">Apparel</h3>
            </div>
        </div>
        <div class = "container">
            <div class = "card-deck align-items-center">
                <div class="card">
                    <img src="{% static 'assets/images/apparel/capestormstridewomens.jpg' %}" alt="Cape Storm">
                    <img src="{% static 'assets/images/apparel/capestormstridewomens2.jpg' %}" class="img-top" alt="Cape Storm">
                    <div class="card-body">
                        <h4 class="card-title">R 349.90</h4>
                        <p class="card-text">Capestorm Women's Stride Twist Run Tee</p>
                        <a href="" class="btn btn-primary streched-link">Add to Cart</a>
                    </div>
                </div>
                <div class="card">
                    <img  src="{% static 'assets/images/apparel/nikedrifitmiler.jpg' %}" alt="Nike Drifit">
                    <img src="{% static 'assets/images/apparel/nikedrifitmiler2.jpg' %}" class="img-top" alt="Nike Drifit">
                    <div class="card-body">
                        <h4 class="card-title">R 549.90</h4>
                        <p class="card-text">Nike Men's Dri Fit Miler Run Tee</p>
                        <a href="" class="btn btn-primary streched-link">Add to Cart</a>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'assets/images/apparel/underarmourgolf96.jpg' %}" alt="Hat">
                    <img src="{% static 'assets/images/apparel/underarmourgolf962.jpg' %}" class="img-top" alt="Hat">
                    <div class="card-body">
                        <h4 class="card-title">R 379.90</h4>
                        <p class="card-text">Under Armour Golf 96 Hat</p>
                        <a href="" class="btn btn-primary streched-link">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <section id = "equipment">
        <div class = "container">
            <div class = "row" style = "border-width: 1px; border-bottom-style: solid">
                <h3 class="text-center">Equipment</h3>
            </div>
        </div>
        <div class = "container">
            <div class = "card-deck align-items-center">
                <div class="card">
                    <img  src="{% static 'assets/images/equipment/gilbertxt300.jpg' %}" alt="Rugby ball">
                    <img src="{% static 'assets/images/equipment/gilbert.jpg' %}" class="img-top" alt="Gilbert">
                    <div class="card-body">
                        <h4 class="card-title">R 219.90</h4>
                        <p class="card-text">Gilbert XT300 Rugby Ball</p>
                        <a href="" class="btn btn-primary streched-link">Add to Cart</a>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'assets/images/equipment/kookaburraghost.jpg' %}" alt="Kookabura">
                    <img src="{% static 'assets/images/equipment/kookaburraghost2.jpg' %}" class="img-top" alt="Kookaburra">
                    <div class="card-body">
                        <h4 class="card-title">R 8 999.90</h4>
                        <p class="card-text">Kookaburra Ghost 1.0 Cricket Bat SH</p>
                        <a href="" class="btn btn-primary streched-link">Add to Cart</a>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'assets/images/equipment/speedo.jpg' %}" alt="Speedo">
                    <img src="{% static 'assets/images/equipment/speedo2.jpg' %}" class="img-top" alt="Speedo">
                    <div class="card-body">
                        <h4 class="card-title">R 1 199.90</h4>
                        <p class="card-text">Speedo Fastskin Pure Focus Mirror Goggle</p>
                        <a href="" class="btn btn-primary streched-link">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <section id = "accessories">
        <div class = "container">
            <div class = "row" style = "border-width: 1px; border-bottom-style: solid">
                <h3 class="text-center">Accessories</h3>
            </div>
        </div>
        <div class = "container">
            <div class = "card-deck align-items-center">
                <div class="card">
                    <img src="{% static 'assets/images/accessories/garmin955.jpg' %}" alt="Garmin">
                    <img src="{% static 'assets/images/accessories/garmin9552.jpg' %}" class="img-top" alt="Garmin">
                    <div class="card-body">
                        <h4 class="card-title">R 10 899.90</h4>
                        <p class="card-text">Garmin Forerunner 955 GPS Multisport Watch</p>
                        <a href="" class="btn btn-primary streched-link">Add to Cart</a>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'assets/images/accessories/jblwave100.jpg' %}" alt="Jbl">
                    <img src="{% static 'assets/images/accessories/jblwave1002.jpg' %}" class="img-top" alt="Jbl">
                    <div class="card-body">
                        <h4 class="card-title">R 899.90</h4>
                        <p class="card-text">JBL Wave 100 True Wireless Earbuds</p>
                        <a href="" class="btn btn-primary streched-link">Add to Cart</a>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'images/accessories/nikeheritage.jpg' %}" alt="Backpack">
                    <img src="{% static 'images/accessories/nikeheritage2.jpg' %}" class="img-top" alt="Backpack">
                    <div class="card-body">
                        <h4 class="card-title">R 599.90</h4>
                        <p class="card-text">Nike Heritage Backpack</p>
                        <a href="" class="btn btn-primary streched-link">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class = "container" style = "background-color: black; display: wrap; padding: 20px;">
            <div class="row">
                <div class = "col">
                    <img src = "{% static 'assets/images/sportslogo.png' %}" alt = "logo" height = "auto">
                </div>
                <div class = "col">
                    <div class = "container justify-content-end">
                    <form>
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="First Name">
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Surname">
                            </div>
                         </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Email Address">
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Cellphone Number">
                            </div>
                        </div>
                        <br>
                        <button class="btn btn-success" type="submit">Let us contact you!</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
